@import "partials/variables";
@import "partials/mixin";

body{
	background-color: $background-theme;
	margin:0;
	padding:0;
	font-family: 'Roboto';
}
.container{
	width: $container;
	@include margin-auto;
}
header{
	width: 100%;
	position: relative;
	#title-blog{
		position: relative;
		height: $header-height;	
		background-color: $header-background;	
		h2{
			@include margin-padding-0;
			font-family: 'Roboto', sans-serif;
			font-weight: 100;
			padding: $header-height/6  5px;
			font-size: 50px;
			color : #fff;
		}
	}
	nav{
		height: 40px;
		background-color: #fff;

	}
	.nav-list{
		list-style-type: none;
		margin: 0;
		padding-top: 10px;
	}
	.nav-list:first-child{
		padding-left: 0;
	}
	.nav-list__item{
		display: inline;

	}
	.nav-list__link{
		text-decoration: none;
		font-family: 'Roboto';
		font-size: 14px;
		padding-right: 15px;
		color: #EC5F5F;
	}
	.nav-list__link:first-child{
		padding-left: 0;
	}
}

#archive{
	position: relative;
	top: 20px;
	.container-article{
		float: left;
		width: $container-article;
		background-color: #fff;
		padding-left: 20px;
		padding-right: 12px;
		padding-bottom: 10px;
		h2{
			font-family: 'Roboto';
			font-weight: 100;
			padding-top: 10px;
		}
		.pubdate{
			font-size: 12px;
			margin-top: -15px;
		}
		article{
			font-size: 14px;
			font-weight: 300;
			text-align: justify;
		}

	}

	.category{
		width: 220px;
		float: right;
		height: 200px;
		background-color: #fff;
		h4{
			padding-left: 10px;
			font-weight: 300;
		}
		span .border{
			border-bottom: 2px dotted #ccc;
		}
		.cat-list{
			list-style-type: circle;
			text-align: left;
			font-size: 13px;
			margin-left: 0;
			line-height: 20px;

		}
		.cat-list__link{
			text-decoration: none;

		}
	}	
}

#button-set{
	position: relative;
	top : 30px;
	.button-primary{
		@include button-shape;
		@include rounded();
		@include primary-button;
	}
	.button-info{
		@include button-shape;
		@include rounded();
		@include info-button;
	}

	//rounded arg modification
	.button-warning{
		@include button-shape;
		@include rounded(1px);
		@include warning-button;
	}

	//rouded arg + mixin in mixin
	.button-danger{
		@include danger-button;
	}
}

#comment{
	position: relative;
	top : 20px;

	label{
		font-size: 12px;
	}

	input[type="text"]{
		width: 200px;
		height: 20px;
		@include rounded(3px);
		background-color: #ccc;

	}

	input[type="textarea"]{
		width: 200px;
		height: 50px;
		@include rounded(3px);
		background-color: #ccc;
	}
}

footer{
	position: relative;
	top : 40px;
	font-size: 12px;
	text-align: right;
}
.clear{
	clear: both;
}