// ----- Theme -------
$background-theme : #E6E6E6;
$container : 960px;

//-------Header--------
$header-background : #DF7967;
$header-height : 100px;

//-------Article----------
$container-article:700px;

//-------Category---------
$category-width : 100px;

$main-color : #857F7F;

// -------THEME-----------
//Header theme
//Value only : Blue, Green, Default
$header-theme : Blue;

@if $header-theme == Blue {
	$header-background: #31B0E5;
}@else if $header-theme == Green {
	$header-background: #719D72;
}@else {
	$header-background : #DF7967;
}