// ----- Theme -------
$background-theme : #E6E6E6;
$container : 960px;

//-------Header--------
$header-background : #DF7967;
$header-height : 100px;

//-------Article----------
$container-article:700px;

//-------Category---------
$category-width : 100px;